<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd ">

	<!-- 自动装配  
	<context:component-scan base-package="com.gary.*"/>-->
	<!-- 注入Jackson JSON -->
	<bean id="objectMapper" class="org.codehaus.jackson.map.ObjectMapper" />
	<!-- 注入Jackson XML -->
	<bean id="xmlMapper" class="com.fasterxml.jackson.xml.XmlMapper" />
	<!-- 注入异常类型,如果出了key的异常就取value的errorCode -->
	<bean id="exceptionMap" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="net.sf.json.JSONException" value="100" value-type="java.lang.Integer" />
			</map>
		</constructor-arg>
	</bean>
	<!-- 注入内存错误代码class -->
	<bean id="errorsUtil" class="com.gary.framework.util.ErrorsUtil">
		<property name="errorsCodeClasses">
			<list>
				<value>com.gary.wl.error.MyErrorCode</value>
			</list>
		</property>
		<property name="errorsDescClasses">
			<list>
				<value>com.gary.wl.error.MyErrorDesc</value>
			</list>
		</property>
		<!-- 表示自定义错误代码以及错误描述的包位置 -->
		<property name="basePackage" value="com.gary.wl.error" />
	</bean>
	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="messageConverters" /><!-- json转换器 -->
			</list>
		</property>
	</bean>
	<!-- Http messageConverters，用于将对象输出到客户端-->
	<bean id="messageConverters" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
		
		<!-- <property name="objectMapper">
			<bean class="org.codehaus.jackson.map.ObjectMapper">
				<property name="dateFormat">
					<bean class="java.text.SimpleDateFormat">
						<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
					</bean>
				</property>
			</bean>
		</property> -->
		
	</bean>
	<!-- 全局异常处理 
	<bean id="handlerExceptionResolver" class="com.gary.framework.exception.AnnotationHandlerMethodExceptionResolver">
		<property name="messageConverters" ref="messageConverters"/>
	</bean>
	srping全局上下文-->
	<bean id="applicationContextHolder" class="com.gary.framework.config.ApplicationContextHolder" /> 
</beans>
